.presentation-header {
  margin-top: 100px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-header p {
  font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  font-size: 18px;
}

input[type="submit"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease-out;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

input[type="submit"]:active {
  transform: scale(0.95);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 18px;
}

form {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
