body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

svg {
  color: inherit;
}

.star {
  aspect-ratio: 1;
  width: 1rem;
  display: inline-block;
}

.star svg {
  width: 100%;
  height: 100%;
  stroke-width: 1;
  fill: none;
}

.star.filled svg {
  color: gold;
  fill: gold;
}

.card {
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: left;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 1rem;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero__image {
  aspect-ratio: 4/3;
  height: 100%;
  max-height: 20rem;
}

.hero__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.hero__name {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.hero__stars {
  height: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  font-size: 1.25rem;
  color: lightgray;
}

.hero__rating {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.action-btns {
  grid-area: action-btns;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.action-btns span {
  font-weight: 500;
}

.action-btns button {
  width: initial;
  flex: 1 1 auto;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: inherit;
  height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.action-btns__icon {
  height: 1rem;
  width: 1rem;
  color: inherit;
}

.action-btns__icon svg {
  width: 100%;
  height: 100%;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}

.info-section {
  position: relative;
  width: 100%;
}

.info-list {
  margin-left: 1.5rem;
}

.info-section a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  transition: color 0.2s;
}

.info-section a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}

.info-section:hover a::after,
.info-section a:hover::after {
  width: 100%;
}

.phone-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}

.phone-list > *:nth-child(4) {
  display: none;
}

.preview-phone-card {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.preview-phone-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.preview-phone-card__phone-link {
  display: block;
  cursor: inherit;
  padding: 1rem 1rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.preview-phone-card--simple .preview-phone-card__phone-link {
  padding: 1rem;
  gap: 0.5rem;
}

.preview-phone-card__phone-image {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
}

.preview-phone-card__phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.preview-phone-card__phone-name {
  position: relative;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview-phone-card--simple .preview-phone-card__phone-name {
  margin-bottom: 0;
}

.preview-phone-card__phone-price {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  text-wrap: balance;
}

.preview-phone-card--simple .preview-phone-card__phone-price {
  flex-direction: column;
  gap: 0;
}

.preview-phone-card__phone-price-span {
  font-size: 0.75rem;
  color: var(--second-color);
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.preview-phone-card__phone-other-info {
  font-size: 1rem;
  color: var(--second-color);
}

.preview-phone-card__phone-screen-size {
}

.preview-phone-card__phone-ram {
}

.preview-phone-card__stars {
  display: flex;
  height: 1rem;
}

.preview-phone-card__star {
  display: block;
}

.preview-phone-card__phone-buttons {
  display: flex;
  font-size: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.btn,
.preview-phone-card__phone-btn-buy,
.preview-phone-card__phone-btn-cart {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.1rem;
  padding: 0.5rem 1rem;
  font-size: inherit;
  background-color: white;
  color: black;
  border: 1px solid var(--second-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.preview-phone-card__phone-btn-buy:hover {
  color: white;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
}

.preview-phone-card__phone-btn-cart:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.preview-phone-card.skeleton {
  padding: 1rem;
  justify-content: space-between;

  background-color: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: none;
  filter: drop-shadow(0 0 0.5rem #f5f5f5);

  cursor: default;
  animation: skeleton-loading 1.5s infinite linear;
}

.preview-phone-card.skeleton:hover {
  transform: none;
}

.preview-phone-card.skeleton .preview-phone-card__phone-image {
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  height: auto;
}

.preview-phone-card.skeleton .preview-phone-card__phone-name {
  width: 100%;
  height: 3rem;
  background-color: #f5f5f5;
  margin-bottom: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.preview-phone-card.skeleton .preview-phone-card__phone-buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  height: 3.5rem;
}

.preview-phone-card.skeleton .preview-phone-card__phone-btn-buy,
.preview-phone-card.skeleton .preview-phone-card__phone-btn-cart {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  border-color: #f5f5f5;
}

.comparator {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comparator__table-root {
  margin-bottom: 1rem;
}

.comparator__table-container {
  width: 100%;
  overflow: auto;
}

.table-product {
  width: 100%;
  text-indent: 0;
  border-collapse: collapse;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.table-product__head {
  text-align: left;
}

.table-product__body {
  vertical-align: top;
}

.table-product__body tr {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.table-product th,
.table-product td {
  padding: 0.875rem 1rem;
}

.table-product th {
  font-weight: 600;
}

.table-product td {
  vertical-align: middle;
  text-align: left;
  padding: 0.875rem 1rem;
  white-space: nowrap;
}

.table-product__dropdown {
  max-width: 100%;
  position: relative;
  padding: 0 !important;
}

.dropdown__btn {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown__text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  max-width: calc(100% - 1rem);
}

.dropdown__btn svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}

.dropdown__content {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  max-height: 15rem;
  margin-top: 0.25rem;
  overflow: auto;
  overflow-x: hidden;
}

.dropdown__content.show {
  display: flex;
  flex-direction: column;
}

/* We modify the scrollbar */
.dropdown__content::-webkit-scrollbar {
  width: 0.5rem;
}

.dropdown__content::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 0.25rem;
  border-left: 1px solid white;
}

.dropdown__content::-webkit-scrollbar-track {
  background-color: white;
}

.dropdown__list {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.dropdown__option {
  overflow: hidden;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown__option-loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: /* 160px in rem */ 2rem;
  order: 1;
  cursor: default;
}

.dropdown__option-loading::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid lightgray;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.dropdown__option:hover {
  background-color: lightgray;
}

.compare__row {
  text-align: center;
}

.compare__row td {
  padding: 0.5rem;
}

.compare__row td:first-child {
  text-decoration: underline;
}

.compare__button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--first-color);
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}

.compare__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: width 0.3s;
}

.compare__button:hover::after {
  width: 100%;
}

.commentaries {
  width: 100%;
}

.commentaries__container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentary__review {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-form label {
  font-weight: 500;
}

.comment-form textarea {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.comment-form input {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: min-content;
}

.comment-form button {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
  width: min-content;
}

@media (width >= 768px) {
  .phone {
    display: flex;
  }

  .phone-list > *:nth-child(4) {
    display: flex;
  }

  .hero {
    grid-area: hero;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .hero__image {
    order: 1;
  }

  .info-section {
    padding: 2.5rem 1rem 1rem;
  }

  .info-list {
    padding: 0 0 0.5rem;
  }

  .action-btns {
    flex-flow: row wrap;
    padding: 1rem;
  }

  .action-btns p {
    width: 100%;
  }

  .action-btns button {
    flex: 1;
  }

  .phone-list {
    justify-content: flex-start;
  }

  .comparator {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .comparator__title {
    min-width: 100%;
    flex: 2;
  }

  .comparator__table-root {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .comparator__table-container {
    width: 100%;
  }
}

@media (width >= 1024px) {
  .main-container {
    display: flex;
    flex-flow: row wrap;
  }

  .hero {
    width: 40%;
  }

  .action-btns {
    margin: 0;
    order: 1;
  }
  .content-phone {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
  }

  .more-phones {
    width: 30%;
  }

  .preview-phone-card__phone-name {
    line-clamp: 1;
    height: 2rem;
  }

  .preview-phone-card__phone-price {
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
  }
  .action-btns button {
    height: 3rem;
  }

  .phone-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
  }
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #f5f5f5;
  }

  50% {
    background-color: #e5e5e5;
  }

  100% {
    background-color: #f5f5f5;
  }
}
